# Series Data Structure

`Series` é um array rotulada(index) unidimensional capaz de conter qualquer tipo de dados.

In [3]:
import numpy as np
import pandas as pd

## Series Creation

* **pd.Series(data,index=opt)**
    * `data` pode ser um python dict, um array, um escalar ou uma lista;

## Exemplos

**pd.series()**

A partir de um array

In [8]:
pd.Series(np.random.randn(5))

0    0.268692
1   -1.162084
2   -0.565131
3    0.017696
4    1.277123
dtype: float64

In [11]:
pd.Series(np.random.randn(5),index=list("abcde"))

a   -0.132539
b    0.273640
c    2.544304
d   -0.327568
e    0.917503
dtype: float64

A partir de um dicionário

In [14]:
d = {"b": 1, "a": 0, "c": 2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

In [15]:
d = {"b": 1, "a": 0, "c": 2}
pd.Series(d,index=list("abe"))

a    0.0
b    1.0
e    NaN
dtype: float64

A partir de um escalar

In [16]:
pd.Series(5)

0    5
dtype: int64

In [17]:
pd.Series(5,index=list("abc"))

a    5
b    5
c    5
dtype: int64

A partir de uma lista

In [4]:
students = ["Alice","Jack","Molly"]
pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

## Series é como um array

`Series` age de forma semelhante a um array, no entando, as operações como slicing irão pegar o indice também.

In [34]:
s=pd.Series(np.random.randn(5),index=list("abcde"))
s

a    1.176749
b   -0.819533
c    0.122490
d    0.721270
e    0.300276
dtype: float64

In [35]:
s[4]

0.3002759420591893

In [36]:
s[4:]

e    0.300276
dtype: float64

## Series é como um dicionário

**Podemos atribuiur novos valores**

In [42]:
s=pd.Series(np.random.randn(5),index=list("abcde"))

In [44]:
s["a"]=1
s["n"]=2

In [49]:
print("e" in s)
print("f" in s)

True
False

**Vectorization**  
As operações em `Series`, diferente de arrays, são executadas tomando o índice como referência.

In [11]:
s=pd.Series(np.random.randn(5),index=list("abcde"))
d=pd.Series(np.random.randn(5),index=list("abcde"))
s+d

a    1.680206
b   -0.164172
c   -1.001650
d   -1.118612
e   -0.900953
dtype: float64

## Series podem ter indices iguais

In [44]:
kelly_classes = pd.Series(['Philosophy', 'Arts', 'Math'], index=['Kelly', 'Kelly', 'Kelly'])
kelly_classes

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

## Attributes

#### Some attributes

* **series.dtype**: Retorna o tipo dos elementos de uma series
* **series.array**: Transforma a series em um array
* **series.name**: Retorna o nome da series
* **series.index**: Retorna os indices e o dtype

#### Some methods

* **series.rename**: Renomeia o nome da Series
* **series.items**: Retorna uma zip function com os indices e valores

In [38]:
students_classes = {'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly': 'English',
                   'Sam': 'History'}
s = pd.Series(students_classes,name="students")

**dtype**

In [32]:
s.dtype

dtype('O')

**array**

In [27]:
s.array

<PandasArray>
['Physics', 'Chemistry', 'English', 'History']
Length: 4, dtype: object

**name**

In [28]:
s.name

'students'

**rename()**

In [33]:
s.rename("students2")

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
Name: students2, dtype: object

**index**

In [36]:
s.index

Index(['Alice', 'Jack', 'Molly', 'Sam'], dtype='object')

items()

In [43]:
for indice,value in s.items():
    print(indice+" tem valor "+value)

Alice tem valor Physics
Jack tem valor Chemistry
Molly tem valor English
Sam tem valor History