# DataFrame Structure

DataFrame é uma estrutura de dados rotulada bidimensional com colunas de tipos potencialmente diferentes.

## DataFrame Creation

* **pd.DataFrame(data,index=opt,columns=opt)**:
    * `data` pode ser dicionários de um array 1D, listas, dicionários,séries,2D numpy arrays ou outro DataFrame

### From dict of Series or dicts

O index resultante será a união dos index das duas séries.

In [3]:
import pandas as pd

In [12]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}
df=pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

From dict of ndarrays / lists

From structured or record array

From a list of dicts

From a dict of tuples

From a Series

From a list of namedtuples

From a list of dataclasses